<TextureAtlas imagePath="sprites.png">
	<SubTexture name="Ball_Blue.png" x="320" y="270" width="16" height="16"/>
	<SubTexture name="Ball_Brown.png" x="380" y="462" width="16" height="16"/>
	<SubTexture name="Ball_Darkgray.png" x="455" y="293" width="16" height="16"/>
	<SubTexture name="Ball_Green.png" x="364" y="462" width="16" height="16"/>
	<SubTexture name="Ball_LightGray.png" x="434" y="229" width="16" height="16"/>
	<SubTexture name="Ball_Orange.png" x="456" y="64" width="16" height="16"/>
	<SubTexture name="Ball_Purple.png" x="456" y="80" width="16" height="16"/>
	<SubTexture name="Ball_Red.png" x="456" y="96" width="16" height="16"/>
	<SubTexture name="Ball_Yellow.png" x="454" y="460" width="16" height="16"/>
	<SubTexture name="Bar1.png" x="0" y="288" width="96" height="32"/>
	<SubTexture name="Bar10.png" x="0" y="0" width="96" height="32"/>
	<SubTexture name="Bar11.png" x="0" y="192" width="96" height="32"/>
	<SubTexture name="Bar12.png" x="0" y="320" width="96" height="32"/>
	<SubTexture name="Bar2.png" x="0" y="256" width="96" height="32"/>
	<SubTexture name="Bar3.png" x="0" y="224" width="96" height="32"/>
	<SubTexture name="Bar4.png" x="0" y="352" width="96" height="32"/>
	<SubTexture name="Bar5.png" x="0" y="160" width="96" height="32"/>
	<SubTexture name="Bar6.png" x="0" y="128" width="96" height="32"/>
	<SubTexture name="Bar7.png" x="0" y="96" width="96" height="32"/>
	<SubTexture name="Bar8.png" x="0" y="64" width="96" height="32"/>
	<SubTexture name="Bar9.png" x="0" y="32" width="96" height="32"/>
	<SubTexture name="BlueNumber_%.png" x="160" y="160" width="32" height="32"/>
	<SubTexture name="BlueNumber_0.png" x="411" y="252" width="22" height="32"/>
	<SubTexture name="BlueNumber_1.png" x="470" y="437" width="11" height="32"/>
	<SubTexture name="BlueNumber_2.png" x="411" y="284" width="22" height="32"/>
	<SubTexture name="BlueNumber_3.png" x="412" y="0" width="22" height="32"/>
	<SubTexture name="BlueNumber_4.png" x="390" y="0" width="22" height="32"/>
	<SubTexture name="BlueNumber_5.png" x="410" y="320" width="22" height="32"/>
	<SubTexture name="BlueNumber_6.png" x="410" y="352" width="22" height="32"/>
	<SubTexture name="BlueNumber_7.png" x="410" y="384" width="22" height="32"/>
	<SubTexture name="BlueNumber_8.png" x="410" y="416" width="22" height="32"/>
	<SubTexture name="BlueNumber_9.png" x="410" y="448" width="22" height="32"/>
	<SubTexture name="BlueNumber_X.png" x="192" y="288" width="32" height="32"/>
	<SubTexture name="BlueStone01.png" x="192" y="256" width="32" height="32"/>
	<SubTexture name="BlueStone02.png" x="192" y="224" width="32" height="32"/>
	<SubTexture name="BlueStone03.png" x="192" y="192" width="32" height="32"/>
	<SubTexture name="BlueStone04.png" x="160" y="224" width="32" height="32"/>
	<SubTexture name="BlueStone05.png" x="161" y="0" width="32" height="32"/>
	<SubTexture name="BlueStone06.png" x="192" y="128" width="32" height="32"/>
	<SubTexture name="BlueStone07.png" x="160" y="96" width="32" height="32"/>
	<SubTexture name="BlueStone08.png" x="160" y="128" width="32" height="32"/>
	<SubTexture name="BlueStone09.png" x="131" y="462" width="32" height="16"/>
	<SubTexture name="BlueStone10.png" x="454" y="311" width="16" height="32"/>
	<SubTexture name="BlueStone11.png" x="291" y="396" width="26" height="26"/>
	<SubTexture name="BlueStone12.png" x="259" y="320" width="32" height="32"/>
	<SubTexture name="DarkGray01.png" x="96" y="0" width="33" height="32"/>
	<SubTexture name="DarkGray02.png" x="66" y="416" width="33" height="32"/>
	<SubTexture name="DarkGray03.png" x="66" y="384" width="33" height="32"/>
	<SubTexture name="DarkGray04.png" x="66" y="448" width="33" height="32"/>
	<SubTexture name="DarkGray05.png" x="0" y="400" width="33" height="32"/>
	<SubTexture name="DarkGray06.png" x="0" y="432" width="33" height="32"/>
	<SubTexture name="DarkGray07.png" x="33" y="448" width="33" height="32"/>
	<SubTexture name="DarkGray08.png" x="33" y="416" width="33" height="32"/>
	<SubTexture name="DarkGray09.png" x="33" y="384" width="33" height="32"/>
	<SubTexture name="DarkGray10.png" x="0" y="384" width="33" height="16"/>
	<SubTexture name="DarkGray11.png" x="317" y="314" width="25" height="25"/>
	<SubTexture name="DarkGray12.png" x="456" y="173" width="15" height="32"/>
	<SubTexture name="DarkGray_Number_%.png" x="192" y="320" width="32" height="32"/>
	<SubTexture name="DarkGray_Number_0.png" x="432" y="380" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_1.png" x="470" y="341" width="11" height="32"/>
	<SubTexture name="DarkGray_Number_2.png" x="432" y="348" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_3.png" x="412" y="32" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_4.png" x="412" y="64" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_5.png" x="412" y="96" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_6.png" x="412" y="128" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_7.png" x="412" y="160" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_8.png" x="412" y="192" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_9.png" x="432" y="316" width="22" height="32"/>
	<SubTexture name="DarkGray_Number_x.png" x="195" y="449" width="32" height="32"/>
	<SubTexture name="Fruit_Apple.png" x="96" y="160" width="32" height="30"/>
	<SubTexture name="Fruit_Banana.png" x="128" y="350" width="32" height="32"/>
	<SubTexture name="Fruit_Grape.png" x="99" y="382" width="32" height="32"/>
	<SubTexture name="Fruit_Orange.png" x="128" y="32" width="32" height="30"/>
	<SubTexture name="GoldArrow1.png" x="317" y="410" width="24" height="23"/>
	<SubTexture name="GoldArrow2.png" x="454" y="432" width="16" height="28"/>
	<SubTexture name="GoldArrow3.png" x="320" y="23" width="24" height="23"/>
	<SubTexture name="GoldArrow4.png" x="317" y="0" width="24" height="23"/>
	<SubTexture name="GoldArrow5.png" x="289" y="0" width="28" height="15"/>
	<SubTexture name="GoldArrow6.png" x="317" y="339" width="24" height="23"/>
	<SubTexture name="GoldArrow7.png" x="456" y="144" width="15" height="29"/>
	<SubTexture name="GoldArrow8.png" x="288" y="303" width="28" height="15"/>
	<SubTexture name="GrayArrow1.png" x="389" y="183" width="23" height="23"/>
	<SubTexture name="GrayArrow2.png" x="389" y="229" width="23" height="23"/>
	<SubTexture name="GrayArrow3.png" x="389" y="206" width="23" height="23"/>
	<SubTexture name="GrayArrow4.png" x="454" y="404" width="16" height="28"/>
	<SubTexture name="GrayArrow5.png" x="454" y="375" width="16" height="29"/>
	<SubTexture name="GrayArrow6.png" x="289" y="15" width="28" height="15"/>
	<SubTexture name="GrayArrow7.png" x="389" y="160" width="23" height="23"/>
	<SubTexture name="GrayArrow8.png" x="288" y="288" width="28" height="15"/>
	<SubTexture name="GreenNumber_%.png" x="259" y="416" width="32" height="32"/>
	<SubTexture name="GreenNumber_0.png" x="342" y="302" width="23" height="32"/>
	<SubTexture name="GreenNumber_1.png" x="471" y="208" width="11" height="32"/>
	<SubTexture name="GreenNumber_2.png" x="320" y="206" width="23" height="32"/>
	<SubTexture name="GreenNumber_3.png" x="320" y="174" width="23" height="32"/>
	<SubTexture name="GreenNumber_4.png" x="342" y="270" width="23" height="32"/>
	<SubTexture name="GreenNumber_5.png" x="389" y="128" width="23" height="32"/>
	<SubTexture name="GreenNumber_6.png" x="320" y="46" width="23" height="32"/>
	<SubTexture name="GreenNumber_7.png" x="320" y="142" width="23" height="32"/>
	<SubTexture name="GreenNumber_8.png" x="320" y="110" width="23" height="32"/>
	<SubTexture name="GreenNumber_9.png" x="320" y="78" width="23" height="32"/>
	<SubTexture name="GreenNumber_X.png" x="259" y="384" width="32" height="32"/>
	<SubTexture name="GreenStone01.png" x="291" y="448" width="26" height="26"/>
	<SubTexture name="GreenStone02.png" x="227" y="432" width="32" height="32"/>
	<SubTexture name="GreenStone03.png" x="259" y="448" width="32" height="32"/>
	<SubTexture name="GreenStone04.png" x="256" y="64" width="32" height="32"/>
	<SubTexture name="GreenStone05.png" x="256" y="288" width="32" height="32"/>
	<SubTexture name="GreenStone06.png" x="259" y="352" width="32" height="32"/>
	<SubTexture name="GreenStone07.png" x="288" y="224" width="32" height="32"/>
	<SubTexture name="GreenStone08.png" x="288" y="192" width="32" height="32"/>
	<SubTexture name="GreenStone09.png" x="288" y="256" width="32" height="32"/>
	<SubTexture name="GreenStone10.png" x="288" y="128" width="32" height="32"/>
	<SubTexture name="GreenStone11.png" x="227" y="464" width="32" height="16"/>
	<SubTexture name="GreenStone12.png" x="454" y="343" width="16" height="32"/>
	<SubTexture name="LightGray01.png" x="227" y="336" width="32" height="32"/>
	<SubTexture name="LightGray02.png" x="256" y="256" width="32" height="32"/>
	<SubTexture name="LightGray03.png" x="256" y="224" width="32" height="32"/>
	<SubTexture name="LightGray04.png" x="256" y="192" width="32" height="32"/>
	<SubTexture name="LightGray05.png" x="256" y="160" width="32" height="32"/>
	<SubTexture name="LightGray06.png" x="256" y="128" width="32" height="32"/>
	<SubTexture name="LightGray07.png" x="256" y="96" width="32" height="32"/>
	<SubTexture name="LightGray08.png" x="163" y="464" width="32" height="16"/>
	<SubTexture name="LightGray09.png" x="456" y="0" width="16" height="32"/>
	<SubTexture name="LightGray12.png" x="291" y="318" width="26" height="26"/>
	<SubTexture name="LightGray14.png" x="227" y="400" width="32" height="32"/>
	<SubTexture name="LightGray15.png" x="227" y="368" width="32" height="32"/>
	<SubTexture name="LightGray_Number_%.png" x="160" y="32" width="32" height="32"/>
	<SubTexture name="LightGray_Number_0.png" x="432" y="444" width="22" height="32"/>
	<SubTexture name="LightGray_Number_1.png" x="471" y="144" width="11" height="32"/>
	<SubTexture name="LightGray_Number_2.png" x="433" y="279" width="22" height="32"/>
	<SubTexture name="LightGray_Number_3.png" x="434" y="0" width="22" height="32"/>
	<SubTexture name="LightGray_Number_4.png" x="434" y="32" width="22" height="32"/>
	<SubTexture name="LightGray_Number_5.png" x="434" y="128" width="22" height="32"/>
	<SubTexture name="LightGray_Number_6.png" x="434" y="96" width="22" height="32"/>
	<SubTexture name="LightGray_Number_7.png" x="434" y="64" width="22" height="32"/>
	<SubTexture name="LightGray_Number_8.png" x="433" y="247" width="22" height="32"/>
	<SubTexture name="LightGray_Number_9.png" x="432" y="412" width="22" height="32"/>
	<SubTexture name="LightGray_Number_X.png" x="257" y="0" width="32" height="32"/>
	<SubTexture name="OrangeNumber_%.png" x="224" y="32" width="32" height="32"/>
	<SubTexture name="OrangeNumber_0.png" x="343" y="46" width="23" height="32"/>
	<SubTexture name="OrangeNumber_1.png" x="470" y="405" width="11" height="32"/>
	<SubTexture name="OrangeNumber_2.png" x="343" y="110" width="23" height="32"/>
	<SubTexture name="OrangeNumber_3.png" x="343" y="142" width="23" height="32"/>
	<SubTexture name="OrangeNumber_4.png" x="343" y="174" width="23" height="32"/>
	<SubTexture name="OrangeNumber_5.png" x="364" y="430" width="23" height="32"/>
	<SubTexture name="OrangeNumber_6.png" x="365" y="270" width="23" height="32"/>
	<SubTexture name="OrangeNumber_7.png" x="366" y="160" width="23" height="32"/>
	<SubTexture name="OrangeNumber_8.png" x="366" y="192" width="23" height="32"/>
	<SubTexture name="OrangeNumber_9.png" x="366" y="224" width="23" height="32"/>
	<SubTexture name="OrangeNumber_X.png" x="192" y="160" width="32" height="32"/>
	<SubTexture name="OrangeStone01.png" x="291" y="344" width="26" height="26"/>
	<SubTexture name="OrangeStone02.png" x="225" y="0" width="32" height="32"/>
	<SubTexture name="OrangeStone03.png" x="131" y="430" width="32" height="32"/>
	<SubTexture name="OrangeStone04.png" x="224" y="272" width="32" height="32"/>
	<SubTexture name="OrangeStone05.png" x="224" y="240" width="32" height="32"/>
	<SubTexture name="OrangeStone06.png" x="224" y="208" width="32" height="32"/>
	<SubTexture name="OrangeStone07.png" x="224" y="176" width="32" height="32"/>
	<SubTexture name="OrangeStone08.png" x="224" y="144" width="32" height="32"/>
	<SubTexture name="OrangeStone09.png" x="224" y="112" width="32" height="32"/>
	<SubTexture name="OrangeStone10.png" x="224" y="80" width="32" height="32"/>
	<SubTexture name="OrangeStone11.png" x="224" y="64" width="32" height="16"/>
	<SubTexture name="OrangeStone12.png" x="456" y="32" width="16" height="32"/>
	<SubTexture name="Pointer_Green.png" x="434" y="206" width="22" height="23"/>
	<SubTexture name="Pointer_LightGray.png" x="434" y="183" width="22" height="23"/>
	<SubTexture name="Pointer_Red.png" x="434" y="160" width="22" height="23"/>
	<SubTexture name="Pointer_Yellow.png" x="412" y="224" width="22" height="23"/>
	<SubTexture name="PurpleNumber_%.png" x="160" y="192" width="32" height="32"/>
	<SubTexture name="PurpleNumber_0.png" x="387" y="366" width="23" height="32"/>
	<SubTexture name="PurpleNumber_1.png" x="471" y="176" width="11" height="32"/>
	<SubTexture name="PurpleNumber_2.png" x="387" y="430" width="23" height="32"/>
	<SubTexture name="PurpleNumber_3.png" x="388" y="256" width="23" height="32"/>
	<SubTexture name="PurpleNumber_4.png" x="388" y="288" width="23" height="32"/>
	<SubTexture name="PurpleNumber_5.png" x="389" y="32" width="23" height="32"/>
	<SubTexture name="PurpleNumber_6.png" x="389" y="64" width="23" height="32"/>
	<SubTexture name="PurpleNumber_7.png" x="389" y="96" width="23" height="32"/>
	<SubTexture name="PurpleNumber_8.png" x="343" y="78" width="23" height="32"/>
	<SubTexture name="PurpleNumber_9.png" x="344" y="0" width="23" height="32"/>
	<SubTexture name="PurpleNumber_X.png" x="129" y="0" width="32" height="32"/>
	<SubTexture name="PurpleStone01.png" x="291" y="370" width="26" height="26"/>
	<SubTexture name="PurpleStone02.png" x="192" y="96" width="32" height="32"/>
	<SubTexture name="PurpleStone03.png" x="192" y="64" width="32" height="32"/>
	<SubTexture name="PurpleStone04.png" x="192" y="32" width="32" height="32"/>
	<SubTexture name="PurpleStone05.png" x="163" y="432" width="32" height="32"/>
	<SubTexture name="PurpleStone06.png" x="163" y="400" width="32" height="32"/>
	<SubTexture name="PurpleStone07.png" x="163" y="368" width="32" height="32"/>
	<SubTexture name="PurpleStone08.png" x="160" y="336" width="32" height="32"/>
	<SubTexture name="PurpleStone09.png" x="160" y="304" width="32" height="32"/>
	<SubTexture name="PurpleStone10.png" x="160" y="272" width="32" height="32"/>
	<SubTexture name="PurpleStone11.png" x="160" y="256" width="32" height="16"/>
	<SubTexture name="PurpleStone12.png" x="455" y="261" width="16" height="32"/>
	<SubTexture name="RedNumber_%.png" x="99" y="446" width="32" height="32"/>
	<SubTexture name="RedNumber_0.png" x="320" y="238" width="23" height="32"/>
	<SubTexture name="RedNumber_1.png" x="470" y="309" width="11" height="32"/>
	<SubTexture name="RedNumber_2.png" x="341" y="339" width="23" height="32"/>
	<SubTexture name="RedNumber_3.png" x="341" y="371" width="23" height="32"/>
	<SubTexture name="RedNumber_4.png" x="341" y="403" width="23" height="32"/>
	<SubTexture name="RedNumber_5.png" x="341" y="435" width="23" height="32"/>
	<SubTexture name="RedNumber_6.png" x="387" y="334" width="23" height="32"/>
	<SubTexture name="RedNumber_7.png" x="387" y="398" width="23" height="32"/>
	<SubTexture name="RedNumber_8.png" x="343" y="206" width="23" height="32"/>
	<SubTexture name="RedNumber_9.png" x="343" y="238" width="23" height="32"/>
	<SubTexture name="RedNumber_X.png" x="99" y="414" width="32" height="32"/>
	<SubTexture name="RedStone01.png" x="291" y="422" width="26" height="26"/>
	<SubTexture name="RedStone02.png" x="128" y="318" width="32" height="32"/>
	<SubTexture name="RedStone03.png" x="128" y="286" width="32" height="32"/>
	<SubTexture name="RedStone04.png" x="128" y="254" width="32" height="32"/>
	<SubTexture name="RedStone05.png" x="128" y="222" width="32" height="32"/>
	<SubTexture name="RedStone06.png" x="128" y="190" width="32" height="32"/>
	<SubTexture name="RedStone07.png" x="128" y="158" width="32" height="32"/>
	<SubTexture name="RedStone08.png" x="128" y="126" width="32" height="32"/>
	<SubTexture name="RedStone09.png" x="128" y="94" width="32" height="32"/>
	<SubTexture name="RedStone10.png" x="128" y="62" width="32" height="32"/>
	<SubTexture name="RedStone11.png" x="0" y="464" width="32" height="16"/>
	<SubTexture name="RedStone12.png" x="455" y="229" width="16" height="32"/>
	<SubTexture name="Star_Brass.png" x="317" y="457" width="24" height="24"/>
	<SubTexture name="Star_Gold.png" x="317" y="386" width="24" height="24"/>
	<SubTexture name="Star_Iron.png" x="317" y="362" width="24" height="24"/>
	<SubTexture name="Star_Silver.png" x="317" y="433" width="24" height="24"/>
	<SubTexture name="StoneExclamationMark_Blue.png" x="288" y="64" width="32" height="32"/>
	<SubTexture name="StoneExclamationMark_Purple.png" x="288" y="96" width="32" height="32"/>
	<SubTexture name="StonePlus_GreenRed.png" x="160" y="64" width="32" height="32"/>
	<SubTexture name="StonePlus_RedGreen.png" x="288" y="160" width="32" height="32"/>
	<SubTexture name="StoneQuestionMark_Blue.png" x="224" y="304" width="32" height="32"/>
	<SubTexture name="StoneQuestionMark_Purple.png" x="288" y="32" width="32" height="32"/>
	<SubTexture name="StoneX_Blue.png" x="256" y="32" width="32" height="32"/>
	<SubTexture name="StoneX_DarkGray.png" x="195" y="417" width="32" height="32"/>
	<SubTexture name="StoneX_Green.png" x="195" y="385" width="32" height="32"/>
	<SubTexture name="Stone_GreenRed.png" x="195" y="352" width="32" height="33"/>
	<SubTexture name="Stone_RedGreen.png" x="193" y="0" width="32" height="32"/>
	<SubTexture name="YellowNumber_%.png" x="96" y="350" width="32" height="32"/>
	<SubTexture name="YellowNumber_0.png" x="364" y="334" width="23" height="32"/>
	<SubTexture name="YellowNumber_1.png" x="470" y="373" width="11" height="32"/>
	<SubTexture name="YellowNumber_2.png" x="364" y="366" width="23" height="32"/>
	<SubTexture name="YellowNumber_3.png" x="364" y="398" width="23" height="32"/>
	<SubTexture name="YellowNumber_4.png" x="365" y="302" width="23" height="32"/>
	<SubTexture name="YellowNumber_5.png" x="366" y="32" width="23" height="32"/>
	<SubTexture name="YellowNumber_6.png" x="367" y="0" width="23" height="32"/>
	<SubTexture name="YellowNumber_7.png" x="366" y="64" width="23" height="32"/>
	<SubTexture name="YellowNumber_8.png" x="366" y="96" width="23" height="32"/>
	<SubTexture name="YellowNumber_9.png" x="366" y="128" width="23" height="32"/>
	<SubTexture name="YellowNumber_X.png" x="96" y="128" width="32" height="32"/>
	<SubTexture name="YellowStone01.png" x="316" y="288" width="26" height="26"/>
	<SubTexture name="YellowStone02.png" x="96" y="96" width="32" height="32"/>
	<SubTexture name="YellowStone03.png" x="96" y="32" width="32" height="32"/>
	<SubTexture name="YellowStone04.png" x="96" y="190" width="32" height="32"/>
	<SubTexture name="YellowStone05.png" x="96" y="222" width="32" height="32"/>
	<SubTexture name="YellowStone06.png" x="96" y="64" width="32" height="32"/>
	<SubTexture name="YellowStone07.png" x="96" y="286" width="32" height="32"/>
	<SubTexture name="YellowStone08.png" x="96" y="318" width="32" height="32"/>
	<SubTexture name="YellowStone09.png" x="96" y="254" width="32" height="32"/>
	<SubTexture name="YellowStone10.png" x="131" y="382" width="32" height="32"/>
	<SubTexture name="YellowStone11.png" x="131" y="414" width="32" height="16"/>
	<SubTexture name="YellowStone12.png" x="456" y="112" width="16" height="32"/>
</TextureAtlas>